* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
ul,ol,dl {
    list-style: none;
}
a {
    color: inherit;
}
.btn {
    display: inline-block;
    font-size: 12px;
    width: 40px;
    height: 15px;
    background: #ccc;
    margin-left: 20px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 15px;
}